fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pydantic-settings==2.8.1
supabase==2.15.1
httpx==0.28.1
joblib==1.4.2
numpy==1.26.4
scikit-learn==1.6.1
pandas==2.2.3
paddleocr==2.9.1
paddlepaddle==2.6.2
pypdf==5.4.0
Pillow==11.2.1
PyMuPDF==1.25.5
opencv-python-headless==4.10.0.84
